---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import MainNav from "../../components/MainNav.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="id">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main class="prose prose-sm md:prose mt-20 mx-auto px-4">
			<h1 class="mb-4">Blog</h1>
			<MainNav />
			<section class="not-prose">
				<ul>
					{
						posts.map((post) => (
							<li class="list-none mb-8">
								<a href={`/blog/${post.slug}/`} class="flex items-center justify-between gap-8">
									<h4 class="leading-tight font-bold">{post.data.title}</h4>
									<p class="leading-none text-zinc-500 text-sm w-40 text-right">
										<FormattedDate
											date={post.data.pubDate}
										/>
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
